<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Saudia Test Suite" verbose="1">
    <listeners>
        <listener class-name="listeners.TestListener" />
    </listeners>
    <test name="Flight Booking Test">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="flightBoookingTest.SaudiaBookingTest" />
        </classes>
    </test>
</suite>
